{% extends "base.html" %}

{% block content %}

{% if customers %}
<marquee behavior="" direction=""><h2>Customers Page</h2></marquee>
<div class="product-wrapper overflow-x-auto">
    <table class="table table-hover ">
   <thead>
    <tr>
     <th scope="col">Id</th>
      <th scope="col">First Name</th>
      <th scope="col">Last Name</th>
      <th scope="col" class="text-nowrap">Age</th>
      <th scope="col" class="text-nowrap">Email</th>
      <th scope="col" class="text-nowrap">Phone Number</th>
      <th scope="col" class="text-nowrap">Address</th>
      <th scope="col" class="text-nowrap">Date Created</th>
      <th scope="col" >Actions</th>
    </tr>
   </thead>

   <tbody>
    {% for customer in customers %}
    <tr>
      <th scope="row">{{customer.id}}</th>
      <td class="text-nowrap">{{customer.first_name}}</td>
      <td class="text-nowrap">{{customer.last_name}}</td> 
      <td class="text-nowrap">{{customer.age}}</td> 
      <td class="text-nowrap">{{customer.email}}</td>
      <td class="text-nowrap">{{customer.phone_number}}</td>
      <td class="text-nowrap">{{customer.address}}</td> 
      <td class="text-nowrap">{{customer.date_created|date:"D, d M Y"}}</td>  
      <td class="actions text-nowrap">
        <a class="btn btn-sm btn-primary" href="{% url 'update_customer' customer.id %}">Edit</a>
        <a class="btn btn-sm btn-danger" href="{% url 'delete_customer' customer.id %}">Delete</a>
      </td>
    </tr>

    {% endfor %}

    </tbody>
    </table>

    
</div>
<div class="success">Total Number of Customers: {{customers|length}}</div>
 


{% else %}
<div class="isempty">
    <h2>Oops!</h2>
    No any customer here!
</div>
{% endif %}

{% endblock content %}