{% extends "base.html" %}

{% block content %}


<marquee behavior="" direction=""><h2>Product Details </h2></marquee>
<div class="product-wrapper w-80 bg-light overflow-x-auto" >



    <table  class="w-70" style="border-collapse: separate; border-spacing: 10px; ">
          <tr>
      <td colspan="2" class="text-center text-nowrap"><h3>{{product.name}}</h3></td>
    </tr>
      <tr>
      <th class=" text-nowrap pe-3 text-secondary">Product ID</th>
      <td class=" text-nowrap col">{{product.id}}</td>
    </tr>

      <tr>
      <th class=" text-nowrap text-secondary">Category</th>
      <td class=" text-nowrap">{{product.category}}</td>
    </tr>

      <tr>
      <th class=" text-nowrap text-secondary">Unit Price</th>
      <td class="text-nowrap">{{product.unit_price}}</td>
    </tr>

    <tr>
      <th class=" text-nowrap pe-5 text-secondary">Available Quantity</th>
      <td class="text-nowrap">{{product.available_quantity}}</td>
    </tr>

     <tr>
      <th class=" text-nowrap text-secondary">Total Price</th>
      <td class="text-nowrap">{{product.total_price}}</td>
    </tr>

     <tr>
      <th class=" text-nowrap text-secondary">Availability</th>
      <td class="text-nowrap">{{product.availability}}</td>
    </tr>

    <tr>
      <th class=" text-nowrap text-secondary">Created on</th>
      <td class="text-nowrap">{{product.date_created|date:"D, d M Y.   h:i A"}}</td>
    </tr>

  

    <tr>
      <td class="actions text-nowrap " colspan="2">
        <div class="d-flex  gap-2 align-items-center text-nowrap w-100">
        <a class="btn btn-sm btn-info text-white" onclick="window.history.back()">Back </a>
        <a class="btn btn-sm btn-primary" href="{% url 'product_update' product.id %}">Edit</a>
        <a class="btn btn-sm btn-danger" href="{% url 'product_delete' product.pk %}">Delete</a>
        <button class="btn btn-sm btn-secondary" onclick="alert('this feature will has not yet been implemented!')">print</button>
      </div>
      </td>
    </tr>
    </table>
</div>

 



{% endblock content %}

<style>
  .d{
    display: flex;
    justify-content: space-around;
  }
</style>